.main {
  width: 80%;
  min-width: 500px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task {
  background-color: #f7f7f7;
  border-left: 4px solid #007bff;
  padding: 10px 20px;
  margin: 20px 0;
}

.task h3 {
  margin-top: 0;
}
.flex-container {
  display: flex;
}

.flex-container th,
.flex-container td {
  flex: 1;
}

.flex-container th:nth-child(3),
.flex-container td:nth-child(3) {
  flex: 2;
}
