.main {
  width: 80%;
  min-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 1px solid black;
  overflow-y: auto;
}
